h3:nth-child(1){
    color: pink;
}
h3:nth-child(2){
    color: red;
}
h3:nth-child(3){
    color: yellow;
}
h3:nth-child(4){
    color: blue;
}
h3:nth-child(5){
    color: orange;
}
h3:nth-child(6){
    color: red;
    border: 3px solid lightgray;
}
/* h1 is as 7 child here therefore skip one */
h3:nth-child(8){
    color: violet;
}
h3:nth-child(9){
    color: grey;
    border: 3px solid;
}
h3:nth-child(10){
    color: lightcoral;
    border: 3px solid lightcoral;
}
h3:nth-child(11){
    color: black;
    box-shadow: 2px 2px 2px 2px;
}

h3:nth-child(even){
    border: 3px solid lightseagreen;
}