.headerDiv{
  height:150px;
  /* max-height: 250px; */
  max-width: 100%;
  background-color: yellow;
}

.whatisDiv{
  float: left;
  height: 100px;
  width: 270px;
  margin: auto;
  background-color: lightblue;
  margin: 1%;
}

.whatisDiv h1{
  text-align: center;
}

.menuDiv{
  float: right;
  margin-top: 20px;
  height: 60px;
  width: 250px;
  /* margin: auto; */
  background-color: blanchedalmond;
}

.containerDiv{
  height: 1320px;
  width: 100%;
  margin: auto;
  background-color: lightblue;
  float: left;
}

.leftMenuDiv{
  float: left;
  height: 1300px;
  width: 200px;
  margin: 5px;
  background-color: lightseagreen;
  display: block;
}

.contentDiv{
  float: left;
  display: block;
  height: 1300px;
  width: 80%;
  background-color: lightpink;
  margin: 5px 5px 5px 5px;
}

.contentDiv h1{
  margin: 35px;
}

.pictureDiv{
  margin: 15px;
  margin-left: 35px;
  width: 92%;
  height: 270px;
  background-color: crimson;
}

.pictureDiv img{
  max-width:100%;
  max-height:100%;
}

.infoDiv{
  max-width:100%;
  max-height:100%;
  margin-left: 35px;
  margin: 25px;
  text-align: center;
}

.codeContainerDiv{
  float: left;
  display: block;
  height: 800px;
  width: 93%;
  background-color: pink;
  margin: 5px 5px 5px 5px;
  margin-left: 35px;
 
}



.footerDiv{
  float: left;
  display: block;
  height:100px;
  /* max-height: 250px; */
  width: 100%;
  max-width: 100%;
  background-color: blueviolet;
}