.headerDiv{
  height:150px;
  /* max-height: 250px; */
  max-width: 100%;
  background-color: yellow;
}

.whatisDiv{
  float: left;
  height: 100px;
  width: 270px;
  margin: auto;
  background-color: lightblue;
  margin: 1%;
}

.whatisDiv h1{
  text-align: center;
}

.menuDiv{
  float: right;
  margin-top: 20px;
  height: 60px;
  width: 250px;
  /* margin: auto; */
  background-color: blanchedalmond;
}

.containerDiv{
  height: 1320px;
  max-width: 100%;
  margin: auto;
  background-color: lightblue;
  float: left;
}

.leftMenuDiv{
  float: left;
  height: 1300px;
  max-width: 40%;
  width: 150px;
  margin: 5px;
  background-color: lightseagreen;
  display: block;
}

.contentDiv{
  float: left;
  display: block;
  height: 1300px;
  max-width: 80%;
  background-color: lightpink;
  margin: 5px 5px 5px 5px;
}

.contentDiv h1{
  margin: 35px;
}

.pictureDiv{
  position: relative;
  margin: 15px;
  margin-left: 35px;
  max-width: 92%;
  height: 270px;
  background-color: crimson;
}

.pictureDiv img{
  max-width:100%;
  height:100%;
  /* object-fit: contain; */
}

.infoDiv{
  max-width:100%;
  max-height:100%;
  margin-left: 35px;
  margin: 25px;
  text-align: center;
}

.codeContainerDiv{
  float: left;
  display: block;
  height: 800px;
  width: 93%;
  background-color: pink;
  margin: 5px 5px 5px 5px;
  margin-left: 35px;
 
}

.htmlDiv{
  position: relative;
  /* z-index: 0; */
  float: left;
  display: block;
  height: 60%;
  width: 65%;
  background-color: rgb(175, 58, 78);
  margin: 5px 2px 5px 5px;
}

/* .htmlDiv:hover{
  background-color: rgba(99, 93, 94, 0.5);
}  */

.cssDiv{
  position: relative;
  float: right;
  display: block;
  height: 97%;
  width: 30%;
  background-color: rgb(189, 37, 151);
  margin: 5px 5px 5px 2px;
}

.jsDiv{
  position: relative;
  float: left;
  display: block;
  height: 35%;
  width: 65%;
  background-color: rgb(37, 189, 105);
  margin: 5px 5px 5px 5px;
}

.overlay{
  position: absolute; 
  /* bottom: 0;  */
  right: 0;
  background: rgb(107, 92, 24);
  background: rgba(85, 78, 14, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 20%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  text-align: center;
}

.htmlDiv:hover .overlay {
  opacity: 1;
}

.cssDiv:hover .overlay {
  opacity: 1;
}

.jsDiv:hover .overlay {
  opacity: 1;
}

.pictureDiv:hover .overlay {
  opacity: 1;
}


.footerDiv{
  float: left;
  display: block;
  height:100px;
  /* max-height: 250px; */
  width: 100%;
  max-width: 100%;
  background-color: blueviolet;
}